@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #b2e1c5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.box h1 {
  width: 60%;
  margin: auto;
  padding: 20px;
  background-color: #71D19E;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* Media query to prevent overflow on smaller screens */
@media (max-width: 768px) {
  .box h1 {
    width: 90%;
    padding: 15px;
  }
  
  .card {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .box h1 {
    width: 95%;
    padding: 10px;
  }
}